nav {
  width: 100%;
  color: #fff;
  z-index: 999;
  position: fixed;
  transition: all 400ms ease;
}

nav .nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80%;
  margin: 0 auto;
}

nav .nav-content .nav-logo  {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

nav .nav-content .nav-logo #span-name  {
  font-size: 1rem;
  text-transform: uppercase;
  opacity: 0;
  clip-path: circle(0%);
  transition: all 400ms ease;
  position: fixed;
  top: 5rem;
}



nav .nav-content .nav-logo #logo {
  max-width: 30%;
  cursor: pointer;
}

nav .nav-content .nav-logo #logo:hover + #span-name{
  opacity: 1;
  clip-path: circle(100%);
}



nav .nav-content .nav-links ul {
  display: flex;
  z-index: 9999;
}

nav .nav-content .nav-links li {
  margin: 0 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 400ms ease;
}

nav .nav-content .nav-links li:first-child{ 
 position: relative;
}

nav .nav-content .nav-links li:first-child svg{
  width: 3rem;
  position: absolute;
  left: 1rem;
  top: -.6rem;
  
}

nav .nav-content .nav-links li:hover {
  color: var(--primary-color);
}