aside {
  position: fixed;
  left: 0;
  top: 0;
  background: var(--primary-color);
  height: 100vh;
  margin-right: 1rem;
  z-index: 99999999999999;
  max-width: 10%;
}

.aside-logo #span-name  {
  font-size: 1rem;
  text-transform: uppercase;
  opacity: 0;
  clip-path: circle(0%);
  transition: all 400ms ease;
  position: fixed;
  top: 5rem;
  color: #fff;
}



.aside-logo #logo {
  cursor: pointer;
}

.aside-logo #logo:hover + #span-name{
  opacity: 1;
  clip-path: circle(100%);
}

.aside-content {
  padding: .5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.aside-logo svg{
  width: 4rem;
}

.aside-content svg{
  cursor: pointer;
}

.aside-content svg:hover {
  fill: #1c1c1c;
  transition: all 400ms ease;
}

.aside-content ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

svg.svg-blog {
  position: absolute;
}

svg.svg-warning {
  top: 0;
  right: 1rem;
  position: relative;
}

.aside-content ul li{
  margin: 1rem 0;
}

@media (max-width: 1100px) {
  aside {
    position: fixed;
    left: 0;
    top: 0;
    height: 10%;
    margin-right: 1rem;
    z-index: 99999999999999;
    width: 100vw;
    max-width: 100%;
  }
  
  .aside-content {
    flex-direction: row;
    height: 100%;
    
  }

  .aside-content ul {
    flex-direction: row;
    width: 100%;
  }

  .aside-content ul li{
    margin: 1rem;
   }

   .aside-content svg {
     width: 100%;
   }

   .aside-content svg.svg-warning,
   .aside-content svg.svg-blog {
     display: none;
   }

   #span-name {
     display: none;
   }
}