.repo-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10rem;
  background-repeat: no-repeat;
  background-position: -234px -275px;
  
}


.repo-main__content {
  margin: 0 auto;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1rem;
  justify-content: center;
  padding: 2rem;
}

