html, body {
  background-color: #1c1c1c;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  font-size: 100%;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Poppins', Montserrat, sans-serif;
}


ul, li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --primary-color: #FF725E;
}

.wrapper {
  width: 1250px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.show-container {
  opacity: 0;
  transform: translate3d(42px, -62px, -135px);
  animation: animeLeft 2s forwards;
}

.lp-logo {
  fill-opacity: 0;
  stroke-dasharray: 120 90;
  stroke-dashoffset: 200;
  animation: animeLogo 1s ease-in infinite alternate;
}

@keyframes animeLogo {
  0% {
    stroke-dasharray: 150 30;
    stroke-dashoffset: 300;
  } 80% {
    stroke-dasharray: 800 30;
    stroke-dashoffset: 0;
  } 100% {
    fill-opacity: 1;
  }
}


@keyframes animeLeft {
  
  to {
    opacity: initial;
    transform: translateZ(0);
  }

}


::-webkit-scrollbar {
  width: .4rem;
}

::-webkit-scrollbar-track {
  background: #1c1c1c;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: .5rem;
}



.swiper-pagination .swiper-pagination-bullet {
  background: transparent;
  border: 1px solid #ccc;
  width: 3rem;
  border-radius: 0;
  height: 5px;
}


.swiper-pagination .swiper-pagination-bullet-active  {
  background: var(--primary-color);
  width: 3rem;
  border-radius: 0;
  height: 5px;
  border: 0;

}


.swiper-button-prev,
.swiper-button-next {
  color: var(--primary-color) !important;
}

input[type="color"] {
	-webkit-appearance: none;
	border: none;
	width: 32px;
  height: 32px;
  border-radius: .5rem;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}